<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>A web page</title>
    
<body >
       <div class=" Titulos  ">  

            <h1> Tabla Estudiantes </h1>  
           

        </div>

        <div class=" enlaces  ">  
           
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'Administradores' %}">Administradores</a>

 
       </div>


       <div class=" contenido  " >
       <table  table border="2">
        <tr>
      
            <td class="importante "> Codigo </td>
            <td class="importante "> Nombre </td>
            <td class="importante "> Apellido </td>
            <td class="importante "> sexo </td>
            <td class="importante ">  <p class="texto"  > Correo </p> </td>
            <td class="importante ">  <p class="texto"  > Foto </p> </td>
        </tr>

         <tr>
     
            <td  class="importante ">0903-18-18289</td>
            <td  class="importante ">Jose</td> 
            <td  class="importante ">Estrada</td> 
            <td  class="importante ">Masculino</td> 
            <td  class="importante ">josefue@gmail.com</td> 
            <td> <img class="imagenes" src="https://static.wikia.nocookie.net/featteca/images/a/a4/Django.jpg/revision/latest/top-crop/width/360/height/450?cb=20200512200547&path-prefix=es" width="100px" height="100px"></td>
     

        </tr>

        <tr>
     
          <td  class="importante ">0903-18-18189</td>
          <td  class="importante ">Pablo</td>
          <td  class="importante ">Escobar</td> 
          <td  class="importante ">Masculiono</td> 
          <td  class="importante ">plesbar@gmail.com</td> 
          <td> <img class="imagenes" src="https://pics.filmaffinity.com/Django_desencadenado-267443760-large.jpg" width="100px" height="100px"></td>
   

      </tr>

       </table>
      </div>

      <a href="{% url 'index' %}">  Regresar pagina Inicio</a>

</body>
</html>