

<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>A web page</title>
    
<body >
       <div class=" Titulos ">  

            <h1 class="importante container-fluid bg-primary d-flex justify-content-center text-light mb-2 p-4 fs-10 "> Bienvenidos </h1>  
            <h1 class="importante container-fluid bg-info d-flex justify-content-center text-light mb-2 p-4 fs-10 "> Ingeniería en Sistemas de Informacion </h1>  
            <h2 class="importante container-fluid bg-secondary d-flex justify-content-center text-light mb-2 p-4 fs-10 "> Desarrollo Web  </h2>  

        </div>

        <div class=" enlaces container-fluid bg-white d-flex justify-content-center text-red mb-2 p-4 fs-10 ">  
          
        <a href="{% url 'home' %}">home</a>

        <td> <img class="imagenes" src="https://storage.googleapis.com/www-paredro-com/uploads/2019/10/97c703a6-bigstock-web-design-and-coding-in-inter-299285242.jpg" width="1000px" height="500px"></td>


         
       </div>    
</body>
</html>